<head>
    <title>{% if page.title %}{{ page.title }} | {{ site.description }}{% else %}{{ site.title }} | {{ site.description }}{% endif %}</title>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS FILES -->
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/assets/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" type="text/css">
    {% include analytics.html %}
</head>